<!DOCTYPE html>
<html lang="en" class='h-full'>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏡</text></svg>">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Groenenbrielstraat", suffix: " - Home Dash" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class='flex flex-col h-full'>
        <!-- HEADER -->
        <header class='w-full text-center border-b border-grey p-0 m-0'>
           <h1 class="m-2">Groenenbrielstraat</h1>
        </header>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id='content' class='flex-1 p-0 w-full'>
            <%= @inner_content %>
        </div>
        <!-- / CONTENT -->

        <!-- FOOTER -->
        <footer class='w-full flex text-center border-t border-grey p-4 items-center'>
          <div class="flex-1 w-1/5">
                <p class="text-6xl"><i class="fas fa-tachometer-alt"></i></p>
          </div>
          <div class="flex-1 w-1/5">
                <p class="text-6xl"><i class="fas fa-chart-line"></i></p>
          </div>
          <div class="flex-1 w-1/5">
                <p class="text-6xl"><i class="fas fa-info"></i></p>
          </div>
        </footer>
        <!-- / FOOTER -->
  </body>

</html>
