

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏡</text></svg>">
      <title>Groenenbrielstraat</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
   </head>
   <body>
      <input type="hidden" value="<%= Homedash.version() %>"/>
      <nav class="navbar navbar-dark flex-md-nowrap p-0 mobile-only">
         <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Homedash</a>
         <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
         <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="<%= Routes.page_path(@conn, :index) %>">Today</a>
            </li>
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="<%= Routes.page_path(@conn, :historical) %>">Historical</a>
            </li>
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="#">Current Month</a>
            </li>
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="<%= Routes.page_path(@conn, :insight) %>">Insight</a>
            </li>
         </ul>
      </nav>
      <div class="container-fluid">
         <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
               <div class="sidebar-sticky">
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                     <span class="nav-section-header">Consumption</span>
                  </h6>
                  <ul class="nav flex-column">
                     <%# <li class="nav-item">
                        <a class="nav-link active" href="#">
                          <span data-feather="home"></span>
                          Dashboard <span class="sr-only">(current)</span>
                        </a>
                        </li> %>
                     <li class="nav-item">
                        <a class="nav-link" href="<%= Routes.page_path(@conn, :index) %>">
                        <span data-feather="calendar"></span>
                        Today
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="<%= Routes.page_path(@conn, :historical) %>">
                        <span data-feather="bar-chart-2"></span>
                        Historical
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="<%= Routes.page_path(@conn, :insight) %>">
                        <span data-feather="eye"></span>
                        Insight
                        </a>
                     </li>
                  </ul>
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                     <span>Controls</span>
                  </h6>
                  <ul class="nav flex-column mb-2">
                     <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="sun"></span>
                        Current month
                        </a>
                     </li>
                  </ul>
               </div>


            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
               <%= render @view_module, @view_template, assigns %>
            </main>
         </div>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
      <!-- Icons -->
      <script src="<%= Routes.static_path(@conn, "/js/feather.min.js") %>"></script>
      <%# <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script> %>
      <script>
         feather.replace()
      </script>
      <!-- Graphs -->
      <script src="<%= Routes.static_path(@conn, "/js/Chart.min.js") %>"></script>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
      <script>
         $( document ).ready(function() {
         console.log( "ready!" );
         });
      </script>

      <!-- Charts -->
      <script src="<%= Routes.static_path(@conn, "/js/charts.js") %>"></script>
      <script src="<%= Routes.static_path(@conn, "/js/historical.js") %>"></script>
   </body>
</html>
